<div id="forgotPasswordForm">
    <h1>Forgot Password</h1>
  
    <form [formGroup]="forgotPasswordFormGroup" (ngSubmit)="forgot_password()">
      <div>
        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="someone@example.com" formControlName="email" required>
            @if (forgotPasswordFormGroup.get('email').invalid) {
            <mat-error>{{getEmailErrorMessage()}}</mat-error>
            }
        </mat-form-field>
      </div>
    
      <div>
        <button mat-raised-button color="primary">Forgot Password</button>
      </div>
    </form>
    
  <a routerLink=".." routerLinkActive="active" >Back to Sing in</a>
  </div>